<a class="btn-floating btn waves-effect waves-light red" id="chevron_left" (click)="prev()"><i class="material-icons" style="font-size: 30px;">chevron_left</i></a>
<a class="btn-floating btn waves-effect waves-light red" id="chevron_right"(click)="next()"><i class="material-icons" style="font-size: 30px;">chevron_right</i></a>

<div class="carousel carousel-slider" id="bigCarousel" data-indicators="true">
  <a class="carousel-item" href="{{event}}"><img src="../assets/images/1.jpeg"></a>
  <a class="carousel-item" href="{{event}}"><img src="../assets/images/2.jpeg"></a>
  <a class="carousel-item" href="{{event}}"><img src="../assets/images/3.jpeg"></a>
  <a class="carousel-item" href="{{event}}"><img src="../assets/images/4.jpeg"></a>
</div>
