<div class="row" id="secondDiv">
  <div class="card-panel red lighten-2" *ngIf="invalid_email">
        <p>Los campos del correo tienen que ser iguales! </p>
  </div>
  <div class="card-panel red lighten-2" *ngIf="invalid_pass">
        <p>Los campos de la contraseña tienen que ser iguales! </p>
  </div>
  <div class="card-panel red lighten-2" *ngIf="invalid_user==-1">
        <p>El email ya está registrado</p>
  </div>
  <div class="card-panel green lighten-2" *ngIf="invalid_user==1">
        <p>Usuario Registrado</p>
  </div>
</div>

<div class="row" id="firstDiv">
  <br>
    <form class="col s12" (ngSubmit)="onSubmit(signUp)" #signUp="ngForm" >
      <div class ="row">
          <div class="input-field col s6">
              <input id="name" name="name" type="text" class="validate" required [(ngModel)]="user.name" #name="ngModel" [ngModelOptions]="{ updateOn: 'submit' }">
              <label for="name">Nombre</label>
          </div>
          <div class="input-field col s6">
              <input id="last_name" name="lastname" type="text" class="validate" required [(ngModel)]="user.lastname" #lastname="ngModel" [ngModelOptions]="{ updateOn: 'submit' }">
              <label for="last_name">Apellido</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <input id="pass" name="password" type="password" class="validate" required [(ngModel)]="user.password" #password="ngModel" [ngModelOptions]="{ updateOn: 'submit' }">
              <label for="pass">Contraseña</label>
          </div>
          <div class="input-field col s6">
              <input id="pass2" name="password2" type="password" class="validate" required [(ngModel)]="user.password2" #password2="ngModel" [ngModelOptions]="{ updateOn: 'submit' }">
              <label for="pass2">Repetir contraseña</label>
          </div>
      </div>
      <div class="row">
        <div class ="input-field col s6">
          <input type="email" name="email" class="validate" required [(ngModel)]="user.email" #email="ngModel" [ngModelOptions]="{ updateOn: 'submit' }">
          <label for="email">Email</label>
        </div>
        <div class ="input-field col s6">
            <input type="email" name="email2" class="validate" required [(ngModel)]="user.email2" #email2="ngModel" [ngModelOptions]="{ updateOn: 'submit' }">
            <label for="email">Repetir Email</label>
        </div>
      </div>
      <div class="row">
          <div class="col s12" id="button1">
              <button class="btn" type="submit" name="action">
                <i>Registrarse</i>
              </button>            
          </div>
      </div>
    </form>
  </div>